%span.pull-right.badge.badge-pill.badge-info
  Rating 
  =@rating 
.row.movie-details
  =image_tag  @poster, :class => "img-thumbnail movie-poster"
  %h1= movie.title
.jumbotron
  = movie.description
.jumbotron
  = @description
- if user_signed_in?
  / ASYNC CALL TO THE SEND_INFO ACTION
  =form_tag(send_info_movie_path(movie), method: 'get', remote: true ) do
    =submit_tag("Email me details about this movie", :class => "btn")
