.row.movie-details {
  padding-bottom: 30px;
}

.row.movie-details img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
  margin-left: 15px;
}

.row.movie-details h1 {
  position: relative;
  top: 18px;
  left: 10px;
  max-width: 30%;
}

input[type="submit"]{
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  padding-top: 15px;
  line-height: 20px;
  color: #777777;
}