%li= link_to 'Movies', movies_path
%li= link_to 'Genres', genres_path
- if user_signed_in?
  %li
    / ASYNC CALL TO THE EXPORT ACTION
    =form_tag(export_movies_path, method: 'get', remote: true ) do